* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  line-height: 1;
  min-height: 100vh;
  font-family: "Merriweather", serif;
}

.heading--primary {
  flex-direction: column;
  margin-bottom: 2.5rem;
}
.heading--primary-big {
  display: inline-block;
  font-size: 4rem;
  font-weight: 500;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.92);
  margin-bottom: 1rem;
}
.heading--primary-small {
  display: inline-block;
  font-size: 1.25rem;
  font-weight: 600;
  color: #74e6c3;
  font-family: "Poppins", sans-serif;
}
.heading--featured {
  font-size: 1.2rem;
  color: #737373;
  text-transform: uppercase;
  font-weight: 600;
  word-spacing: 1.5px;
  font-family: "Poppins", sans-serif;
}
.heading--secondary {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 1.8rem;
  width: 85%;
  margin: 0 auto;
}
.heading--secondary-small {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  font-size: 1.4rem;
  font-weight: 600;
  color: #051726;
}
.heading--secondary-big {
  font-size: 2.2rem;
  text-transform: uppercase;
  line-height: 3rem;
  word-spacing: 1.5px;
  font-weight: 600;
  /* TEXT SHADE */
  display: inline-block;
  background-color: transparent;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(to right, rgba(77, 153, 130, 0.85), rgba(52, 102, 87, 0.95));
}
.heading--secondary-big span {
  color: #051522;
}

.flex--center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex--space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section {
  margin-bottom: 5rem;
}

.btn {
  display: inline-block;
  border: none;
  font-family: "Merriweather", serif;
  padding: 1rem 1.4rem;
  font-size: 1rem;
  border-radius: 9px;
  font-weight: 500;
  cursor: pointer;
  border: 1px solid transparent;
}
.btn:hover {
  border: 1px solid rgba(255, 255, 255, 0.92);
}
.btn--fill {
  background-color: #4d9982;
  color: rgba(255, 255, 255, 0.92);
  transition: all 0.2s ease-in;
}
.btn--fill:hover {
  background-color: #346657;
  color: rgba(255, 255, 255, 0.92);
}
.btn--outline {
  background-color: rgba(255, 255, 255, 0.92);
  color: #051726;
  transition: all 0.2s ease-in;
}
.btn--outline:hover {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.92);
}

.header {
  min-height: 100vh;
  background-image: linear-gradient(to right, rgba(5, 21, 34, 0.85), rgba(5, 23, 38, 0.85)), url(../../img/header_img-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.header__nav {
  padding: 2rem 4rem;
}
.header__nav--logo-link {
  text-decoration: none;
  gap: 1rem;
}
.header__nav--logo-link img {
  width: 4rem;
  height: 4rem;
}
.header__nav--logo-link p {
  font-family: "Merriweather", serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.92);
  transition: all 0.2s ease-in;
}
.header__nav--logo-link p span {
  color: #4d9982;
}
.header__nav--logo-link p:hover {
  color: #4d9982;
}
.header__nav--logo-link p:hover span {
  color: rgba(255, 255, 255, 0.92);
}
.header__nav--links {
  gap: 1.4rem;
  list-style: none;
}
.header__nav--link-item {
  display: inline-block;
  text-decoration: none;
  margin: 0.6rem 0.8rem 0rem;
  padding-bottom: 0.4rem;
}
.header__nav--link-item:link, .header__nav--link-item:visited {
  color: rgba(255, 255, 255, 0.92);
  border-bottom: 1px solid transparent;
}
.header__nav--link-item:hover, .header__nav--link-item:active {
  color: #74e6c3;
  transition: all 0.2s ease-in;
  border-bottom: 1px solid #74e6c3;
}
.header__content {
  flex-direction: column;
  min-height: 80vh;
}
.header__content-text {
  font-family: "Poppins", sans-serif;
  padding: 0.6rem 1rem;
  width: 50%;
  font-size: 0.9rem;
  color: #ababab;
  line-height: 1.8rem;
  margin-bottom: 2.5rem;
  word-spacing: 2.5px;
}
.header__content-text span {
  font-size: 1.2rem;
  text-transform: capitalize;
  color: #74e6c3;
}
.header__content-btn {
  gap: 2rem;
  margin-bottom: 4rem;
}
.header__content-users {
  gap: 2.4rem;
}
.header__content-users--img img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  margin-right: -1rem;
  outline: #81ffd9 solid 3px;
}
.header__content-users--text {
  font-size: 0.9rem;
  font-weight: 600;
  color: #ababab;
  word-spacing: 2px;
}
.header__content-users--text span {
  font-size: 1.4rem;
  color: #74e6c3;
}
.header__btn {
  padding: 1.2rem 2rem;
  font-size: 1.25rem;
}

.main {
  padding: 0rem 6rem;
}

.section--feature {
  background-color: rgba(255, 255, 255, 0.92);
  padding: 2rem 0rem;
}
.section--feature-container {
  flex-direction: column;
  gap: 1.8rem;
}
.section--feature-container-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 4rem;
}
.section--feature-container-content img {
  height: 2rem;
  /* ADJUSTING THE COLOR OF THE LOGOS */
  filter: brightness(0);
  opacity: 0.5;
}
.section--feature-container-content img:hover {
  filter: brightness(0.8);
  opacity: 1;
}

.section--features {
  background-image: linear-gradient(to right, rgba(5, 21, 34, 0.95), rgba(5, 23, 38, 0.85));
}

/*# sourceMappingURL=style.css.map */
