// FONTS
$font-primary : 'Merriweather',
serif;
$font-secondary : 'Poppins',
sans-serif;

// COLORS
$color-primary : #051726;
$color-primary--dark : #051522;
$color-primary--light : #1e2e3c;

$color-primary--accent : #1d1c3f;
$color-primary--accent-dark : #1a1939;
$color-primary--accent-light : #343352;

$color-secondary : #81ffd9;
$color-secondary--dark-1 : #74e6c3;
$color-secondary--dark-2 : #4d9982;
$color-secondary--dark-3 : #346657;
$color-secondary--light : #8effdd;

$color-black : #000000;
$color-white : rgba(#ffffff, .92);
$color-white--full : #ffffff;

$color-grey--1 : #808080;
$color-grey--2 : #ababab;
$color-grey--3 : #737373;
$color-grey--4 : #ededed;

// TRANSITIONS
$transition--sm : all 0.3s ease-in;
$transition--lg : all 0.5s;

// BORDER BOTTOM
$border-bottom : 1px solid transparent;

// MARGIN BOTTOM
$margin-bottom--sm : 1rem;
$margin-bottom--md : 2.5rem;
$margin-bottom--lg : 4rem;

// CONTAINER DARK
$container-dark : linear-gradient(to right, rgba($color-primary--dark , .85), rgba($color-primary , .85));

// FONT AWESOME
$fa-font-path: "../../webfonts";

// TAB BTN COLORS
$color-tab--1 : #ffcb03;
$color-tab--1-darker : #ffbb00;
$color-tab--1-light : #ffd01c;

$color-tab--2 : #ff585f;
$color-tab--2-darker : #fd424b;
$color-tab--2-light : #ff696f;

$color-tab--3 : #5ec576;
$color-tab--3-darker : #55b16a;
$color-tab--3-light : #6ecb84;