// FONTS
$font-primary : 'Merriweather',
serif;
$font-secondary : 'Poppins',
sans-serif;

// COLORS
$color-primary : #051726;
$color-primary--dark : #051522;
$color-primary--light : #1e2e3c;

$color-primary--accent : #1d1c3f;
$color-primary--accent-dark : #1a1939;
$color-primary--accent-light : #343352;

$color-secondary : #81ffd9;
$color-secondary--dark-1 : #74e6c3;
$color-secondary--dark-2 : #4d9982;
$color-secondary--dark-3 : #346657;
$color-secondary--light : #8effdd;

$color-black : #000000;
$color-white : #ffffff;

$color-grey--1 : #d6d6d6;
$color-grey--2 : #ababab;
$color-grey--3 : #cfcfcf;

// TRANSITIONS
$transition--sm : all 0.2s ease-in;