@use "../abstracts/" as *;
@use "../base/" as *;

.overlay {
    position: absolute;
    background-color: rgba($color-black , .5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}

.modal {

    &--container {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 60rem;
        padding: 3rem 6rem;
        border-radius: 15px;
        z-index: 200;
        flex-direction: column;
        gap: 1.5rem;

        background: linear-gradient(to right bottom, rgba($color-secondary--dark-2 , .95), rgba($color-secondary--dark-1 , .95), rgba($color-secondary--dark-3 , .95));
    }

    &--heading {
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 2.5rem;
        text-align: center;
        margin-bottom: $margin-bottom--md;
        text-transform: capitalize;
        color: $color-primary--accent;
        letter-spacing: .6px;

        span {
            font-style: italic;
            font-size: 2.2rem;
            display: inline-block;
            background-color: transparent;
            color: transparent;
            -webkit-background-clip: text;
            background-clip: text;
            background-image: linear-gradient(to right, rgba($color-secondary--dark-2, 1), rgba($color-secondary--dark-3, 1));
        }
    }

    &--form {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 2rem 1rem;
        align-items: center;

        &-label {
            font-size: 1.1rem;
            font-family: $font-secondary;
            color: $color-grey--3;
            font-weight: 500;
            text-transform: capitalize;
        }

        &-input {
            display: inline-block;
            padding: .8rem 1rem;
            outline: none;
            border: 2px solid transparent;
            border-radius: 4px;

            &::placeholder {
                font-size: .8rem;
                color: $color-grey--2;
                font-weight: 500;
                font-family: $font-secondary;
            }

            &:invalid {
                border-bottom: 3px solid $color-tab--2;
            }
        }

    }

    &--btn {
        display: inline-block;
        padding: 1.2rem 2rem;
        border-radius: 20px;
        font-size: 1.2rem;
        text-transform: capitalize;
        font-weight: 600;
        border: 1.5px solid transparent;
        background-color: $color-secondary--dark-3;
        cursor: pointer;
        transition: $transition--sm;

        &:hover,
        &:focus {
            background-color: $color-secondary--dark-2;
            border: 1.5px solid $color-white--full;
            outline: none;
        }

        &-container {
            margin-top: 1.5rem;
            grid-column: 1 / -1;
        }
    }

    &--reset {
        background-color: transparent;
        border: none;
        font-size: 2rem;
        font-weight: 500;

        position: absolute;
        top: 3%;
        right: 6%;
    }
}