@use '../abstracts/' as *;

* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    line-height: 1;
    min-height: 100vh;
    font-family: $font-primary;
}