@use "../abstracts/" as *;

.heading {

    &--primary {
        flex-direction: column;
        margin-bottom: $margin-bottom--md;

        &-big {
            display: inline-block;
            font-size: 4rem;
            font-weight: 500;
            letter-spacing: .2px;
            text-transform: uppercase;
            color: $color-white;
            margin-bottom: $margin-bottom--sm;
        }

        &-small {
            display: inline-block;
            font-size: 1.25rem;
            font-weight: 600;
            color: $color-secondary--dark-1;
            font-family: $font-secondary;
        }

    }

    &--featured {
        font-size: 1.2rem;
        color: $color-grey--3;
        text-transform: uppercase;
        font-weight: 600;
        word-spacing: 1.5px;
        font-family: $font-secondary;
    }

    &--secondary {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        gap: 1.2rem;
        width: 85%;
        margin: 0 auto;
        margin-bottom: $margin-bottom--md;

        &-small {
            font-family: $font-secondary;
            text-transform: uppercase;
            letter-spacing: .4px;
            font-size: 1.1rem;
            font-weight: 600;
            color: $color-secondary--dark-2;
        }

        &-big {
            font-size: 2.2rem;
            text-transform: uppercase;
            color: $color-primary;
            line-height: 3rem;
            word-spacing: 1.5px;
            font-weight: 600;

            span {
                /* TEXT SHADE */
                display: inline-block;
                background-color: transparent;
                color: transparent;
                -webkit-background-clip: text;
                background-clip: text;
                background-image: linear-gradient(to right, rgba($color-secondary--dark-2, .8), rgba($color-secondary--dark-3, .9));
            }
        }
    }

    &--tertiary {
        font-size: 1.2rem;
        font-weight: 600;
        font-family: $font-secondary;

    }
}