@use "../abstracts/" as *;

.flex--center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex--space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section {
    margin-bottom: 6rem;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.grid {
    display: grid;
    align-items: center;
    justify-content: center;
}

.grid--2-cols {
    grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
    grid-template-columns: repeat(3, 1fr);
}

.hidden {
    visibility: hidden;
    opacity: 0;
}