@use "../abstracts/" as *;
@use "../base/" as *;

.header {
    min-height: 100vh;
    background-color: teal;

    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 4rem;

        // TEMP STYLES
        background-color: rgb(52, 129, 196);

        &--logo-container {
            img {
                width: 8rem;
                height: 8rem;
            }
        }

        &--links {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2rem;
            list-style: none;

            li {
                a {
                    display: inline-block;
                    text-decoration: none;
                    padding: 0.8rem 1.2rem;
                    background-color: coral;
                    // color: ;
                }
            }
        }
    }
}