@use "../abstracts/" as *;
@use "../base/" as *;

.section--testimonials {
    margin-top: 4rem;
    margin-bottom: 0rem;
    padding-bottom: 6rem;
    border-bottom: 2px solid $color-secondary--dark-2;
}

.sliders {
    position: relative;
    min-height: 35rem;
    display: grid;
    grid-template-columns: 1fr;
}

.slider {
    border: 1px solid $color-white--full;
    width: 80%;
    margin: 0 auto;
    height: auto;

    position: absolute;
    top: 0;

    justify-self: center;
}

.testimonial {
    background-color: $color-white--full;
    box-shadow: 0px 4px 8px 1px rgba($color-primary, .15);
    padding: 3rem 4rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    position: relative;
    border-radius: 20px;
    width: 80%;
    margin: 0 auto;

    &::before {
        content: "\201C";
        display: inline-block;
        font-size: 15rem;
        font-family: $font-secondary;
        color: $color-secondary--dark-1;
        position: absolute;
        top: -5%;
        left: -15%;
    }

    &--heading {
        font-size: 1.4rem;
        font-weight: 600;
        font-family: $font-primary;
        color: $color-primary--light;
        letter-spacing: .4px;
        line-height: 2.5rem;
    }

    &--text {
        font-size: 1rem;
        font-weight: 400;
        line-height: 2.5rem;
        color: $color-grey--2;
    }

    &--address {
        display: grid;
        grid-template-columns: 5rem 1fr;
        align-items: center;
        gap: .6rem;

        &-img {
            img {
                width: 4rem;
                height: 4rem;
                border-radius: 50%;
                outline: $color-primary solid 1px;
            }
        }

        &-person {

            &-name {
                font-size: 1.1rem;
                font-weight: 600;
                margin-bottom: .8rem;
                color: $color-primary--accent;
            }

            &-place {
                font-size: .9rem;
                font-weight: 400;
                color: $color-grey--2;
            }
        }
    }
}

.slider--btn {
    display: inline-block;
    padding: 1.2rem;
    border-radius: 50%;
    background-color: $color-primary;
    color: $color-secondary;
    font-size: 1.8rem;
    font-weight: 700;
    border: 1px solid transparent;
    transition: $transition--sm;
    position: absolute;

    &:hover {
        cursor: pointer;
        background-color: $color-secondary;
        color: $color-primary;
        border: 1px solid $color-primary;
    }
}

.btn--left {
    top: 30%;
    left: 6%;
}

.btn--right {
    top: 30%;
    right: 6%;
}