@use "../abstracts/" as *;
@use "../base/" as *;

.section--features {
    // padding: 4rem 0rem;
    // background-image: linear-gradient(to right, rgba($color-primary--dark , .95), rgba($color-primary , .85));

    &-box {
        padding: 2rem;
    }

    &-container {
        gap: 4rem;

        &-img {

            img {
                max-width: 100%;
            }
        }

        // &-content {}
    }
}