@use "../abstracts/" as *;
@use "../base/" as *;

.container--services {
    padding: 4rem 2rem;
    background-image: linear-gradient(to right, rgba($color-primary--dark , .75), rgba($color-primary , .75)), url(../../img/header_img-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.heading--services {

    &-small {
        color: $color-white;
    }

    &-big {
        background-image: linear-gradient(to right, rgba($color-secondary, .8), rgba($color-secondary--dark-1, .9));
    }
}

.section--services {

    &-container {
        gap: 5rem 4rem;
        padding: 2rem 3rem;
        margin-bottom: 3rem;

        &-items {
            position: relative;
            padding: 2rem 2.5rem;
            border-radius: 9px;
            background: linear-gradient(to right bottom, rgba($color-secondary , .75), rgba($color-white , .75), rgba($color-secondary , .75));

            .section--features__hover {
                transform: translateY(50%);
                display: none;
            }

            &:hover {
                cursor: pointer;

                .section--features__hover {
                    transform: translateY(0%);
                    display: flex;
                }
            }
        }

        &-button {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.grid__box {
    flex-direction: column;
    gap: 1.4rem;

    &--icon {
        margin-bottom: $margin-bottom--sm;

        svg {
            width: 3rem;
            height: 3rem;
        }
    }

    &--heading {
        margin-bottom: $margin-bottom--sm;
    }

    &--content {
        p {

            font-size: .9rem;
            font-family: $font-secondary;
            line-height: 1.6rem;
            text-align: center;
            margin-bottom: $margin-bottom--sm;
            color: $color-grey--3;
        }
    }
}

/* HOVER CONTAINER */

.section--features__hover {
    position: absolute;
    bottom: 0%;
    left: 0;
    width: 100%;
    height: 60%;
    padding: 2rem 2.5rem;
    border-radius: 9px;
    background: linear-gradient(to right bottom, rgba($color-primary , .92), rgba($color-primary--accent , .92));
    border-top: 4px solid $color-primary;

    flex-direction: column;
    gap: 1.4rem;

    &-text {
        font-size: .9rem;
        font-family: $font-secondary;
        line-height: 1.6rem;
        text-align: center;
        margin-bottom: $margin-bottom--sm;
        color: $color-grey--2;

    }
}