@use "../abstracts/" as *;
@use "../base/" as *;

.section--testimonials {
    margin-top: 4rem;
}

.slider {
    border: 1px solid $color-white--full;
    width: 80%;
    margin: 0 auto;
}

.testimonial {
    background-color: $color-white--full;
    box-shadow: 0px 2px 10px 1px $color-primary;
    padding: 3rem 4rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    position: relative;
    border-radius: 20px;

    &::before {
        content: "\201C";
        display: inline-block;
        font-size: 12rem;
        font-family: $font-secondary;
        color: $color-secondary--dark-1;
        position: absolute;
        top: 0;
        left: -20%;
    }

    &--heading {
        font-size: 1.4rem;
        font-weight: 600;
        font-family: $font-primary;
        color: $color-primary;
        word-spacing: 2px;
        letter-spacing: .4px;
    }

    &--text {
        font-size: 1rem;
        font-weight: 400;
        line-height: 2.2rem;
        color: $color-grey--2;
    }

    &--address {}
}