@use "../abstracts/" as *;
@use "../base/" as *;

.section--tab {

    &__container {
        flex-direction: column;
        padding: 2rem 2rem;
        border: 2px solid red;
    }
}

.operations__tab {
    background-color: $color-white--full;
    padding: 0rem 3rem;
    flex-direction: column;
    gap: 3rem;
}