@use "../abstracts/" as *;
@use "../base/" as *;

.container--services {
    padding: 2rem;
    background-image: linear-gradient(to right, rgba($color-primary--dark , .7), rgba($color-primary , .75)), url(../../img/header_img-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.section--services {

    &-container {
        gap: 3rem;
        background-color: orange;
        border: 2px solid wheat;
        padding: 2rem 3rem;
    }
}

.heading--services {

    &-small {
        color: $color-white;
    }

    &-big {
        background-image: linear-gradient(to right, rgba($color-secondary, .8), rgba($color-secondary--dark-1, .9));
    }
}